{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
        &rsaquo; Select resource type
    </div>
{% endblock %}

{% block content %}
    <dl>
    {% for type in resource_types %}
        <dt><a href="{% url 'admin:warthog_resource_create' type.code %}">
            {{ type.name }}
        </a></dt>
        <dd>{{ type.description }}</dd>
    {% endfor %}
    </dl>
{% endblock %}
